/*//Revision History
//Mansi Vakharia(1932450)    24-Feb-2021    Added css for functions and the page

//css for the boy of the website*/
body{
        background-color: #76e8dd;
	margin: 0;
        padding: 0;
        font-family: Comic Sans MS;
}

/*//style of unordered list*/
.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #70e6e6;
}

.topnav a{
    float: left;
  color: #edf2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
    background-color: #ddd;
    color: #edf2f2;
}

.topnav-right{
    float: right;
}

li{
    float: left;
}

li a{
    display: block;
    padding: 14px 16px;
    background-color: #70e6e6;
    text-align: center;
}
li a:hover {
  text-decoration: underline;
  color: #edf2f2;
}
/*//the style for url*/
a{
	text-decoration:none;
}

/*//style of main section of the website*/
#main{
	position:relative;
	width:100%;
	height: 80vh;
        background-repeat: no-repeat;
        background-size: cover;
/*        //adding the image in the main section to display it in all the pages*/
	background-image: url("../Images/homecover.png");
	background-color: #edf1fd;
	padding-bottom:0px;
       	margin: 0;
}

/*//style for footer*/
.copyright{
	width: 100%;
	height:50px;
	display:flex;
	z-index:2;
	justify-content:center;
	background:gray;
	bottom: 0;
	left: 50%;
        height:auto;
        padding:1%;
}

/*//style for footer anchor tag*/
.copyright a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: gray;
  color: red;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  font-size: 22px;
}

/*//style for footer when it is hovered*/
.copyright a:hover{
  background:#808080;
}

/*//style of footer when it is transition*/
.copyright a i{
  transition: 0.2s all;
}